
.book-label {
    width: 8em;
    display: inline-block;
    font-weight: bolder;
}

.book-page-nav {
    margin: 0 0 2em;
}

.book-info {
    display: flex;
    margin: 1em 0 0;
}

.book-image {
    margin-right: .8em;
}

.book-name {
    font-size: 1.4rem;
}

.book-author {
    font-size: 1.06rem;
    margin-bottom: 15px;
}

.book-actions {
    margin: .6em 0 2em;
}

.login {
    margin: 15% auto 0;
    max-width: fit-content;
}

.login .or-signup {
    margin: 1em 1em 0;
    font-size: 0.9em;
}

.login h2 {
    margin: 0 .5em 1.5em;
}
