{# це шаблон власної "теми" - нижче перевизначаю існуючі в twig блоки, щоб змінити рендерінг деяких елементів форми  #}
{# https://symfony.com.ua/doc/current/form/form_themes.html#stvorenna-temi-formi-v-okremomu-sabloni #}

{# перевизначив існуючий блок choice_widget_expanded, що відповідає за рендерінг choice-елементу форми з чекбоксами (множинний вибір значень) #}
{# стандартний блок тут: vendor/symfony/twig-bridge/Resources/views/Form/form_div_layout.html.twig:49 #}
{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }} class="choice-checkboxes">
        {%- for child in form %}
            <label class="pure-checkbox">
            {{- form_widget(child) -}}&nbsp;{{ child.vars.label }}
            </label>
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}