{% extends 'base.html.twig' %}

{% block body %}
    {# імпортування та використання макросу рендерінгу інформації про книгу #}
    {% from "crud/books/_macros.html.twig" import book_info %}
    {{ book_info(book) }}

    <h3>Book text</h3>
    <p>{{ book.text }}</p>

{% endblock %}

